//Styles for cards and their images/

.card-panel {
  background-color: $cardBG;
  color: $standard;
  border-bottom: none !important;
  border-radius: 5px;
  text-align: center;
  border-bottom: 5px solid $stockBorders;
  /* float our main image */
  img {
    margin-bottom: 2%;
    border-radius: 3px;
  }

  .btn {
    padding: 14px 24px;
  }
}

.appScreen {
  width: 30%;
  height: auto;
}

.appIcon {
  width: 15%;
  height: auto;
}

.webScreen {
    width: 95%;
    height: auto;
}
