//Colors, Various Pokemon

$bgColor: #e6decd;
$navBG: #eaeaea;
$standard: #292931;
$links: #4a9cee;
$visitedLinks: #4a7bb4;

//Dependent Colors
$activeTabBG: #f6f6f6;
$cardBG: $navBG;

//Yeoman Colors
$stockBorders: #e5e5e5;
$stockDark: $standard;
