//Colors, Whimsicott
//

$bgColor: #e6decd;
$navBG: #c5b48b;
$activeTabBG: $bgColor;
$cardBG: $navBG;
$standard: #523929;
$links: #417b41;
$visitedLinks: #184a18;
$stockBorders: #e5e5e5;
$stockDark: #212121;
