//Some content variables
$pageWidth: 95%;
$appWidth: 400px;
$webWidth: 800px;

//Main colors
body {
    background-color: $bgColor;
    color: $standard;
}

.navbar {
    background-color: $navBG;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: $standard;
}

.navbar-default .navbar-brand {
    color: $standard;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-nav > .active > a {

    background-color: $bgColor;
    color: $standard;

    &:hover {
        background-color: $bgColor;
        color: $standard;
    }

    &:focus {
        background-color: $bgColor;
        color: $standard;
    }
}

.card-panel {
    background-color: $cardBG;
    color: $standard;
    border-bottom: none !important;
    border-radius: 5px;
}

 /* headers */
 h1
 {
   text-align: center;
   margin: 2%;
   font-size: 3.35em;
 }

 h2
 {
   text-align: center;
   margin: 1%;
 }

 .siteIntro {
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
 }

 /* headers that also feature a download */
 .titleDownload
 {
   text-align: center;
   a
   {
     font-size: 2em;
   }
 }

 /* our navbar */
 .navbar
 {
     font-size: 1.5em;
     color: $stockDark;
 }

 /*Links*/
 a
 {
     color: $links;

     font-size: 1.15em;
 }

 a:visited
 {
     color: $visitedLinks;
 }

 .appScreen {

     width: 70%;
     height: 90%;
 }

 .appIcon {

     width: 30%;
     height: 50%;
 }

 /*git hub button*/
 .github-button
 {
     padding-left: 5px;
 }

 .container-narrow > hr {
   margin: 30px 0;
 }

 /* Main marketing message and sign up button */
 .card-panel {
   text-align: center;
   border-bottom: 5px solid $stockBorders;
   /* float our main image */
   img
   {
     margin-bottom: 2%;
     border-radius: 3px;
   }

   .btn {
     font-size: 21px;
     padding: 14px 24px;
   }
 }

 //Main profile picture, center with the welcome
 .pixelAaron {
     margin-right: 50px;
 }

 .home {

     p {
         text-align: center;
         font-size: 20px;
     }
 }

 /*resume jumbotron (make it look like papery) */
 .resume
 {
     text-align: left;
     color: $stockDark;
 }

 .Intro
 {
   text-align: center;
   font-size: 1.25em;
   margin: 0 auto;
 }

//Projects
//Our Flexboxes for projects
.columns {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;

    .app {
        max-width: $appWidth;

        margin-left: auto;
        margin-right: auto;

        p {
            text-align: left;
            font-size: 18px;
        }
    }

    .web {
        @extend .app;

        max-width: $webWidth;
    }
}

//Project styles
.webScreen {
    width: 95%;
    height: auto;
}


 /* Contact page paragraph */
 .contact
 {
   font-size: 1.15em;
   padding: 15px;
   text-align: left;
 }

 /* Main links to my dev stuff on home*/
 .devLinks
 {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 /* Two Columns / Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {

    //Container overrides
   .container {
       width: $pageWidth;
       max-width: $pageWidth;
   }
}
