//Some content variables
$pageWidth: 70%;
$columnWidth: 300px;

 /* headers */
 h1
 {
   text-align: center;
   margin: 2%;
 }

 h2
 {
   text-align: center;
   margin: 1%;
 }

 /* headers that also feature a download */
 .titleDownload
 {
   text-align: center;
   a
   {
     font-size: 2em;
   }
 }

 /* our navbar */
 .navbar
 {
     font-size: 1.5em;
     color: $navText;
 }

 /*Links*/
 a
 {
     color: $links;
 }

 a:visited
 {
     color: $visitedLinks;
 }

 .appScreen {

     width: 70%;
     height: 90%;
 }

 .appIcon {

     width: 30%;
     height: 50%;
 }

 /*git hub button*/
 .github-button
 {
     padding-left: 5px;
 }

 .container-narrow > hr {
   margin: 30px 0;
 }

 /* Main marketing message and sign up button */
 .card-panel {
   text-align: center;
   border-bottom: 5px solid $borders;
   /* float our main image */
   img
   {
     margin-bottom: 2%;
   }

   .btn {
     font-size: 21px;
     padding: 14px 24px;
   }
 }

 .project
 {
     padding: 5px;
 }

 //Main profile picture, center with the welcome
 .pixelAaron {
     margin-right: 125px;
 }

 /* Main links to my dev stuff on home*/
 .devLinks
 {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 /*resume jumbotron (make it look like papery) */
 .resume
 {
     text-align: left;
 }

 /* Supporting marketing content */
 .marketing {
   margin: 40px 0;

   p + h4 {
     margin-top: 28px;
   }
 }

 .Intro
 {
   text-align: center;
   font-size: 1.25em;
   margin: 0 auto;
 }

 /* Contact page paragraph */
 .contact
 {
   font-size: 1.15em;
   padding: 15px;
   a
   {
     font-size: 1.35em;
   }
 }

 /* Two Columns / Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {

    .twoColumn {
        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction and if we allow the items to wrap
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: space-around;

        align-items: baseline;

        //Fix the missing content
        ul {
          list-style-position: inside;
          margin: 0;
        }

        li {
            break-inside: avoid-column;
            display: inline-block;
            width: 30%;
        }

    }

    //Container overrides
   .container {
       width: $pageWidth;
       max-width: $pageWidth;
   }
}
