//Some content variables
$pageWidth: 95%;
$appWidth: 400px;
$webWidth: 800px;

//Main colors
body {
    background-color: $bgColor;
    color: $standard;
}

.navbar {
    background-color: $navBG;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: $standard;
}

.navbar-default .navbar-brand {
    color: $standard;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-nav > .active > a {

    background-color: $activeTabBG;
    color: $standard;

    &:hover {
        background-color: $activeTabBG;
        color: $standard;
    }

    &:focus {
        background-color: $activeTabBG;
        color: $standard;
    }
}

.card-panel {
    background-color: $cardBG;
    color: $standard;
    border-bottom: none !important;
    border-radius: 5px;
}

 /* headers */
 h1
 {
   text-align: center;
   margin: 2%;
 }

 h2
 {
   text-align: center;
   margin: 1%;
 }

 .siteIntro {
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
 }

 /* headers that also feature a download */
 .titleDownload
 {
   text-align: center;
   a
   {
   }
 }

 /* our navbar */
 .navbar
 {
     color: $standard;
 }

 /*Links*/
 a
 {
     color: $links;
 }

 a:visited
 {
     color: $visitedLinks;
 }

 //Fancy Image stuff
 img {

     //Transition speed
     $transitionSpeed: .25s;

     opacity: 1;

     -webkit-transition: opacity $transitionSpeed ease-in-out;
    -moz-transition: opacity $transitionSpeed ease-in-out;
    -o-transition: opacity $transitionSpeed ease-in-out;
    transition: opacity $transitionSpeed ease-in-out;

 }

 a {
     img {
         &:hover {
              opacity: .75;
          }
     }
 }

 .appScreen {

     width: 70%;
     height: auto;
 }

 .appIcon {

     width: 30%;
     height: auto;
 }

 .container-narrow > hr {
   margin: 30px 0;
 }

 /* Main marketing message and sign up button */
 .card-panel {
   text-align: center;
   border-bottom: 5px solid $stockBorders;
   /* float our main image */
   img
   {
     margin-bottom: 2%;
     border-radius: 3px;
   }

   .btn {
     padding: 14px 24px;
   }
 }

 //Main profile picture, center with the welcome
 .pixelAaron {
     margin-right: 50px;
 }

 .home {

     p {
         text-align: center;
     }
 }

 /*resume jumbotron (make it look like papery) */
 .resume
 {
     text-align: left;
     color: $standard;
 }

 .Intro
 {
   text-align: center;
   margin: 0 auto;
 }

//Projects
//Our Flexboxes for projects
.columns {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;

    .app {
        max-width: $appWidth;

        margin-left: auto;
        margin-right: auto;

        p {
            text-align: left;
        }
    }

    .web {
        @extend .app;

        max-width: $webWidth;
    }

    li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

//Project styles
.webScreen {
    width: 95%;
    height: auto;
}

//List styles
.aboutList {

    text-align: left;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;

    li {
        list-style-type: initial;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


 /* Contact page paragraph */
 .contact
 {
   padding: 15px;
   text-align: left;
 }

 /* Main links to my dev stuff on home*/
 .devLinks
 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;

   a, iframe {
       vertical-align: middle;
       margin: 5px;

       width: 166px;
   }

   .github-button {
       width: 200px;

       //Center when on a new line
       @media screen and (max-width: 685px) {
          margin-left: 20px;
      }
   }
 }

 /* Two Columns / Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {

    //Container overrides
   .container {
       width: $pageWidth;
       max-width: $pageWidth;
   }
}
