
<div class="footer animated fadeIn">
    <!-- Place dev stuff here -->
    <div class="devLinks">

    <!--Google Play Badge For Aaron Turner -->

    <a href="https://play.google.com/store/apps/dev?id=7725420572806800529&hl=en">
    <img alt="Get it on Google Play"
         src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
    </a>

      <!-- Available on chrome Stor Badge -->
      <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa">
    <img alt="Get it on Chrome Web Store"
         src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_206x58.png" />
    </a>

    <!-- Github follow badge, that links to my page -->
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/torch2424" data-style="mega"
    aria-label="Follow @torch2424 on GitHub">Follow @torch2424</a>
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs"
    src="https://buttons.github.io/buttons.js"></script>
    </div>
    <br>

</div>
