
<div class="footer animated fadeIn">

    <!-- Place dev stuff here -->
    <div class="devLinks">

        <!--Google Play Badge For Aaron Turner -->

        <a href="https://play.google.com/store/apps/dev?id=7725420572806800529&hl=en">
        <img alt="Get it on Google Play"
             src="../../images/googlePlayBadge.png"
             height = "54" />
        </a>

          <!-- Available on chrome Stor Badge -->
          <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa">
              <img alt="Get it on Chrome Web Store"
                src="../../images/chromeBadge.png"
                />
        </a>

        <!-- Github follow badge, that links to my page -->
        <iframe class = "github-button"
        src="https://ghbtns.com/github-btn.html?user=torch2424&type=follow&size=large"
        frameborder="0" scrolling="0" height="30px"></iframe>

    </div>
    <br>

    <p class = "googleDisclaimer">
        Android, Chrome, Chrome Web Store, Google Play and the Google Play logo are trademarks of Google Inc.
    </p>

</div>
