
<div ng-controller="NavCtrl"
class="header">
  <div class="navbar navbar-default  z-depth-1" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button"
        ng-click = "collapseNav = !collapseNav"
        class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Aaron Turner</a>
      </div>

      <div ng-class = "{collapse: collapseNav && isMobile()}"
      class="navbar-collapse animated fadeIn"
      id="js-navbar-collapse">

        <ul class="nav navbar-nav">

          <li ng-class="{active:isActive('/')}">
              <a href="#/"
              ng-click = "collapseNav = true">Home</a>
          </li>

          <li ng-class="{active:isActive('/webdev')}">
              <a href="#/webdev"
              ng-click = "collapseNav = true">Web Dev</a>
          </li>

          <li ng-class="{active:isActive('/android')}">
              <a href="#/android"
              ng-click = "collapseNav = true">Android Dev</a>
          </li>

          <li ng-class="{active:isActive('/gamedev')}">
              <a href="#/gamedev"
              ng-click = "collapseNav = true">Game Dev</a>
          </li>

          <li ng-class="{active:isActive('/bio')}">
              <a href="#/bio"
              ng-click = "collapseNav = true">Bio</a>
          </li>

          <li ng-class="{active:isActive('/contact')}">
              <a href="#/contact"
              ng-click = "collapseNav = true">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
