<li class="web card-panel  z-depth-3">
  <h2>Developer Experience for Amazon Alexa</h2>
  <a href="https://developer.amazon.com/public/community/post/Tx1DSINBM8LUNHY/New-Alexa-Skills-Kit-ASK-Feature-Audio-Streaming-in-Alexa-Skills" target="_blank">
    <img class="webScreen" src="images/amazonAlexa.png" alt="Alexa Screenshot">
  </a>
  <p>
    During an internship at <a href="https://developer.amazon.com/" target="_blank">Amazon</a>, I worked on the Alexa Developer Experience team, which handled the infrastructure for third party developers to create skills for Alexa.
  </p>

  <div class="spaceDividerSmall"></div>

  <p>As a team-member of Alexa Developer Experience, I worked on the developer website and api for developing and submitting skills for Alexa. My work consisted of creating: Alexa skills, session keep-alive services on the client, interactive client-side
    components to help with defining skill utterances, introducing new open-source tools to the team’s build system, and exposing audio streaming APIs in the Alexa Skills Kit. Documentation for the audio streaming APIs that I contributed to can be found
    <a href="https://developer.amazon.com/public/community/post/Tx1DSINBM8LUNHY/New-Alexa-Skills-Kit-ASK-Feature-Audio-Streaming-in-Alexa-Skills" target="_blank">in this announcement</a>.</p>

  <div class="spaceDividerSmall"></div>

  <p>Technologies that i mostly used at Amazon were
    <a href="https://angularjs.org/" target="_blank">AngularJS</a>,
    <a href="https://spring.io/" target="_blank">Spring MVC</a>,
    <a href="https://developer.amazon.com/alexa-skills-kit" target="_blank">Alexa Skills Kit</a>, and
    <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services</a>.
</li>
