<li class="web card-panel  z-depth-3">
  <h2>Chip Go</h2>
  <a href="https://github.com/torch2424/chipGo" target="_blank">
    <img class="webScreen" src="images/chipGo.gif" alt="ChipGo Gif">
  </a>
  <p>
    <a href="https://github.com/torch2424/chipGo" target="_blank">ChipGo</a> is a chip-8 computer emulator, that can be used to run many of the various programs or games written for the chip-8. In this project, I had to handle and read opcodes from chip-8
    program files, and then translate the audio and video to openlGL to emulate the chip-8.</p>

  <div class="spaceDividerSmall"></div>

  <p>ChipGo was built using
    <a href="https://golang.org/" target="_blank">Go</a>, and open-source libraries such as
    <a href="https://github.com/alecthomas/kingpin" target="_blank">Kingpin</a>, and
    <a href="https://github.com/tedsta/gosfml" target="_blank">gosfml</a>.</p>

  </p>
</li>
