<li class="web card-panel  z-depth-3">
  <h2>Flyxer</h2>
  <a href="https://github.com/julianpoy/Flyxer" target="_blank">
    <img class="webScreen" src="images/flyxerScreen.png" alt="Flyxer Screenshot">
  </a>
  <p>
    <a href="https://github.com/julianpoy/Flyxer" target="_blank">Flyxer</a> is a live performance music software that allows for loop switching "on the fly" with an easy to use interface. Along with a large collection of effects to edit your sound as
    it is playing.

    <br>
    <br>
    <br> Flyxer was developed at
    <a href="http://devpost.com/software/hacktech2016" target="_blank">Hacktech 2016</a> in 36 hours, and won the award, "Coolest Developer Tool". In my team of three,
    <a href="https://github.com/julianpoy" target="_blank">Julian Poyourow</a>, Alexis Luter, and myself, I created the user interface, and user experience of the application, as well as handled the effects being applied to the JavaScript audio objects.

    <br>
    <br>
    <br> Flyxer was built using
    <a href="http://electron.atom.io/">Electron</a>,
    <a href="https://nodejs.org/en/">NodeJS</a>, and
    <a href="https://angularjs.org/" target="_blank">AngularJS</a>. As well as the third-party JavaScript libraries,
    <a href="https://github.com/rserota/wad">WAD</a> (Which I have contributed to!), and
    <a href="https://github.com/Theodeus/tuna">Tuna</a>.

  </p>
</li>
