<li class="web card-panel  z-depth-3">
  <h2>linkDrops</h2>
  <a href="http://linkdrops.com/#/" target="_blank">
    <img class="webScreen" src="images/linkdropsscreen.png" alt="Website Screenshot">
  </a>
  <p>
    <a href="http://linkdrops.com/#/" target="_blank">linkDrops</a> is a website that will store all of those links you wanted to go back to, but never could, in an easy to use interface. linkDrops is perfect for things like youtube videos, articles,
    and repos!</p>

  <div class="spaceDividerSmall"></div>


  <p>linkDrops' frontend is developed using JavaScript and CSS, and handls things such as keeping the link grid in order, sending requests to the backend to create accounts, save and manage user's links, and send requests to APIs provided by
    <a href="https://noembed.com/" target="_blank">Noembed</a>,
    <a href="https://developers.soundcloud.com/" target="_blank">Soundcloud</a>,
    <a href="https://developer.spotify.com/" target="_blank">Spotify</a>, and various other services to create iframes, and embeds of a user's link once they hover over the link. I had a bit of help from
    <a href="https://github.com/julianpoy" target="_blank">Julian Poyourow</a>, as he mostly developed the back end, but we help one another in both the front and back end.</p>

  <div class="spaceDividerSmall"></div>

  <p>linkDrops was built in the "MEAN" stack. Meaning it was built using powerful, modern day web development which includes:
    <a href="https://www.mongodb.org/" target="_blank">MongoDB</a>,
    <a href="http://expressjs.com/" target="_blank">Express</a>,
    <a href="https://angularjs.org/" target="_blank">AngularJS</a>, and <a href="https://nodejs.org/en/" target="_blank">NodeJS</a>. It was styled using
    <a href="http://sass-lang.com/" target="_blank">Sass</a>, a powerful css framework. Also, some other css libraries such as
    <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a> and
    <a href="https://material.angularjs.org/latest/" target="_blank">Angular Material</a>. linkDrops also implements some third-party libraries such as
    <a href="https://github.com/hongkhanh/gridify" target="_blank">Gridify</a>, and
    <a href="https://github.com/thenikso/angular-inview" target="_blank">Angular-inview</a>.</p>

  </p>
</li>
