<li class="web card-panel  z-depth-3">
  <h2>And...Many More!</h2>
  <a href="https://github.com/torch2424" target="_blank">
    <img class="webScreen" src="images/personalProjectsCollage.jpg" alt="Projects Collage">
  </a>
  <p>
    I spend a lot of time coding, and I love it. I have many projects that I have made that can be explored, and most of them are open-sourced on my <a href="https://github.com/torch2424" target="_blank">Github</a>. And you can see what I am currently
    working on below:
  </p>

  <div class="spaceDividerSmall"></div>

  <div class="githubActivityDirective" github-activity events="events" options="options"></div>

  <div class="spaceDividerSmall"></div>
</li>
