<li class="app card-panel  z-depth-3">
  <!-- Stats-->
  <h2>Stats Monitor Widget</h2>
  <a href="https://play.google.com/store/apps/details?id=com.torch2424.statsmonitorwidgetFree" target="_blank">
    <img src="images/statsmonitor.png" alt="Stats Icon" class="appIcon"><br>
    <img src="images/statsscreen.png" alt="Stats Screenshot" class="appScreen">
  </a>
  <p>
    <a href="https://play.google.com/store/apps/details?id=com.torch2424.featherads" target="_blank">Stats Monitor Widget</a> is a minimal, conky-like, system monitor that sits on an android device's home screen, and displays per-core CPU usage, memory
    usage, network information, and other statistics of the user’s device.
  </p>

  <div class="spaceDividerSmall"></div>

  </p>Stats Monitor features various android libraries, such as, Broadcast Receviers for listening to system wide events, Shared Preferences for saving user configurations, and App Widget Providers which allows connecting Remote Views to the widget, and making
  it available to be created by an Android launcher.
  </p>
</li>
