<li class="web card-panel  z-depth-3">
  <h2>Super Punch Legacy</h2>
  <a href="https://github.com/torch2424/Punch-Legacy" target="_blank">
    <img class="webScreen" src="images/superPunchLegacy.gif" alt="Website Screenshot">
  </a>
  <p>
    <a href="https://github.com/torch2424/Punch-Legacy" target="_blank">Super Punch Legacy</a> is a top-down cross-platform retro style arcade game, where a hero must punch to defeat waves of exploding enemies and deadly bosses.</p>

  <div class="spaceDividerSmall"></div>

  <p>I developed sound and logic for the game, where visual art was created by members of
    <a href="http://nocomplygames.com/" target="_blank">Team No Comply Games</a>. I handled all development of the game in
    <a href="https://unity3d.com/" target="_blank">Unity</a> and implemented features such as, Camera Shake, Player Leveling, Player Save Management, Enemy Patterns, Character/Map Selection, and Game Physics.
  </p>
</li>
