<!-- Going to do a 2 coulmn layout -->
<h1>Android Development</h1>

<!--paragraph explaining my android development-->
<div class="androidIntro">
  <p>
    I developed all of these android apps using the native Android Studio IDE.
    This allows for better/smoother functionality of the
    app since it is created with native Android tools. However, I am currently also developing with
    the <a href="http://ionicframework.com/">Ionic framework</a> to create multiplatform applications.
    All of which, could be found on my <a href="https://github.com/torch2424">Github</a>.
  </p>
</div>

<!-- wrapper div -->
<div class="wrapper">

<div class="leftColumn">
<!--feather, icon then screenshot -->
<h2>Feather</h2>
<a href="https://play.google.com/store/apps/details?id=com.torch2424.featherads">
<img src="images/feather.png" alt="Feather Icon" height="60%" width="40%">
<br>
<br>
<img src="http://i.imgur.com/UeFzJiI.png" alt="Feather Screenshot" height="60%" width="40%">
</a>
<p>
  “...A bare bones player without the bells and whistles which may be what a lot of people are looking for.” - Android Authority , Joe Hindy , 11 best Android video player apps
  <br>
  <br>
  “[This] app is the only one I have installed for playing local music and video files, on both my phone and tablet.” - Emi Hardekyn
  <br>
  <br>
  Looking for a music or video player that isn't slow, always crashing,
  or freezing your phone? One that allows you to find what you want to listen to or watch through a file explorer,
  instead of scanning your entire external storage, just to not find everything you have on there? Tired of external codecs,
  and just want the native ones that are much more reliable and fast? Do you find full screen video controls getting in the
  way of your video, and you think that they are annoying? Well, Feather was created for just these reasons, and it is
  presented in a minimal, beautiful, and easy to use format. Where it is all quite reliable, and always quick.
</p>

<br>
<br>

<!-- Stats-->
<h2>Stats Monitor Widget</h2>
<a href="https://play.google.com/store/apps/details?id=com.torch2424.trustinheartdemo">
<img src="images/statsmonitor.png" alt="Stats Icon" height="60%" width="40%">
<br>
<br>
<img src="http://i.imgur.com/g39fK5K.png" alt="Stats Screenshot" height="60%" width="40%">
</a>
<p>
  Looking for a Conky like, text based, system monitor for android?
  Tired of slow system monitor widgets making your beautiful phone look ugly,
  and want something better? Stats Monitor was created for exactly that. As an android user,
  I created this app off of my own needs and desires as an android user, to create minimalist,
  text based widget, that could show what's going on in your phone,
  while keeping the home screens looking beautiful and customizeable.
</p>

<br>
<br>

</div>

<div class = "rightColumn">
<!-- Trust In Heart -->
<h2>Trust In Heart (Demo)</h2>
<a href="https://play.google.com/store/apps/details?id=com.torch2424.trustinheartdemo">
<img src="images/trustinheart.png" alt="TIH Icon" height="60%" width="40%">
<br>
<br>
<img src="http://i.imgur.com/OekgufJ.png" alt="TIH Screenshot" height="60%" width="40%">
</a>
<p>
  A Demo for the indie RPG / JRPG Trust In Heart! This game is an fun and epic adventure of a weak hero
  that must overcome the
  king of monsters, to save his love and bring back the peace to the world!
</p>

<br>
<br>

<!-- Decisions -->
<h2>Decicisons</h2>
<a href="https://play.google.com/store/apps/details?id=com.torch2424.decisions">
<img src="images/decisions.png" alt="Decisions Icon" height="60%" width="40%">
<br>
<br>
<img src="http://i.imgur.com/W65IdJL.png" alt="Decisions Screenshot" height="60%" width="40%">
</a>
<p>
  Are you indecisive? And, have trouble making decisions? Do you often ask for someone else's opinion on what
  you should do when you need to decide something? Decisions was created just for this. It is a customizable,
  easy to use, and lightweight app that allows you to answer your questions with the help of your phone!
<br>
This is all done in 3 easy steps:
<br>
1. Enter your question
<br>
2. Enter the answers to your questions
<br>
3. Open up your new decision, and press decide!
</p>

<br>
<br>

<!-- Txtnote -->
<h2>Txtnote</h2>
<a href="https://play.google.com/store/apps/details?id=com.torch2424.txtnoteFree">
<img src="images/txtnote.png" alt="txt Icon" height="60%" width="40%">
<br>
<br>
<img src="https://lh6.ggpht.com/AU8p3NoW3rproVH-eNxQYk_YLc04crWudxlh6qjzCPHTW26YytIqYMKbtXIm8uSWyWg=h900"
alt="txt Screenshot" height="60%" width="40%">
</a>
<p>
  Are you looking for a fast, minimal, smooth notepad app? Or is your current notes app slow or ugly?
  TxtNote was created with that in mind.
  TxtNote is a very fast and smooth note taking app that gets what you want done with a very simple and
  minimalistic design.
</p>

<br>
<br>


</div>

</div>
