<!-- animation div -->
<div class="animated fadeIn">

<!-- Going to do a 2 coulmn layout -->
<h1>Application Development</h1>

<!--paragraph explaining my android development-->
<div class="Intro">
  <p>
    I developed these Android applications using the native
    <a href = "https://developer.android.com/sdk/index.html" target ="_blank">Android Studio IDE.</a>
    This allows for better/smoother functionality of the
    app since it is created with native Android tools. I am currently developing with
    the <a href="http://ionicframework.com/">Ionic framework</a> as well, to create multiplatform applications (is noted in the respective app's description).
    All of which, could be found on my <a href="https://github.com/torch2424" target ="_blank">Github</a> for source code, and
    <a href="https://play.google.com/store/apps/dev?id=7725420572806800529&hl=en" target ="_blank">My Developer Page</a> from the Google Play Store.
  </p>
</div>

<!-- Two Colmn div -->
<ul class="columns">

    <li class="app card-panel  z-depth-3">
        <!--feather, icon then screenshot -->
        <h2>Feather</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.featherads" target ="_blank">
        <img src="images/feather.png" alt="Feather Icon" class = "appIcon"><br>
        <img src="images/featherscreen.png" alt="Feather Screenshot" class = "appScreen">
        </a>
        <p>
          “...A bare bones player without the bells and whistles which may be what a lot of people are looking for.” - Android Authority , Joe Hindy , 11 best Android video player apps
          <br>
          <br>
          “[This] app is the only one I have installed for playing local music and video files, on both my phone and tablet.” - Emi Hardekyn
          <br>
          <br>
          Looking for a music or video player that isn't slow, always crashing,
          or freezing your phone? One that allows you to find what you want to listen to or watch through a file explorer,
          instead of scanning your entire external storage, just to not find everything you have on there? Tired of external codecs,
          and just want the native ones that are much more reliable and fast? Do you find full screen video controls getting in the
          way of your video, and you think that they are annoying? Well, Feather was created for just these reasons, and it is
          presented in a minimal, beautiful, and easy to use format. Where it is all quite reliable, and always quick.
        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- Stats-->
        <h2>Stats Monitor Widget</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.trustinheartdemo" target ="_blank">
        <img src="images/statsmonitor.png" alt="Stats Icon" class = "appIcon"><br>
        <img src="images/statsscreen.png" alt="Stats Screenshot" class = "appScreen">
        </a>
        <p>
          Looking for a Conky like, text based, system monitor for android?
          Tired of slow system monitor widgets making your beautiful phone look ugly,
          and want something better? Stats Monitor was created for exactly that. As an android user,
          I created this app off of my own needs and desires as an android user, to create minimalist,
          text based widget, that could show what's going on in your phone,
          while keeping the home screens looking beautiful and customizeable.
        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- Trust In Heart -->
        <h2>Trust In Heart (Demo)</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.trustinheartdemo" target ="_blank">
        <img src="images/trustinheart.png" alt="TIH Icon" class = "appIcon"><br>
        <img src="images/tihscreen.png" alt="TIH Screenshot" class = "appScreen">
        </a>
        <p>
          A Demo for the indie RPG / JRPG Trust In Heart! This game is an fun and epic adventure of a weak hero
          that must overcome the
          king of monsters, to save his love and bring back the peace to the world!
        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- Word Pairs -->
        <h2>Word Pears, Pares, Pairs</h2>
        <a href="https://play.google.com/store/apps/details?id=com.Kondeo.Wordpairs" target ="_blank">
        <img src="images/wordpairsicon.png" alt="Word Pairs Icon" class = "appIcon"><br>
        <img src="images/wordpairsscreen.png" alt="Word Pairs Screenshot" class = "appScreen">
        </a>
        <p>
            Created with
            <a href = "http://kondeo.com/#/" target ="_blank">Kondeo Development</a>
            using the <a href="http://ionicframework.com/" target ="_blank">
                Ionic framework</a>.

            <br>
            <br>

            It’s here. It’s an ebook.
            It is ready. Purchase it now at a low
            introductory price.
            You have a word in your notes that does not
            make sense in the context of the sentence.
            How do you know where to go to look up a similar word?
             When you have the ebook form of Word Pears, Pares, Pairs,
              you can use the index and jump to the page for that
              word, where you can read all the words that are just
              like or similar to the word you have.
        </p>
    </li>


    <li class="app card-panel  z-depth-3">
        <!-- Decisions -->
        <h2>Decicisons</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.decisions" target ="_blank">
        <img src="images/decisions.png" alt="Decisions Icon" class = "appIcon"><br>
        <img src="images/decisionsscreen.png" alt="Decisions Screenshot" class = "appScreen">
        </a>
        <p>
              Are you indecisive? And, have trouble making decisions? Do you often ask for someone else's opinion on what
              you should do when you need to decide something? Decisions was created just for this. It is a customizable,
              easy to use, and lightweight app that allows you to answer your questions with the help of your phone!
            <br>
            This is all done in 3 easy steps:
            <br>
            1. Enter your question
            <br>
            2. Enter the answers to your questions
            <br>
            3. Open up your new decision, and press decide!
        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- CrunchKey -->
        <h2>Crunchkey</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.CrunchKey" target ="_blank">
        <img src="images/crunchkey.png" alt="CrunchKey Icon" class = "appIcon"><br>
        <img src="images/crunchkeymobilescreen.png"
        alt="txt Screenshot" class = "appScreen">
        </a>
        <p>
            Created using the <a href="http://ionicframework.com/" target ="_blank">
                Ionic framework</a>.

            <br>
            <br>

            CrunchKey is a simple text calculator
            that works with a press of a key, and gives
            your answer INSTANTLY. Built with both developers
            and users in mind, It strives to be a calculator that
            will save time editing, solving, and calculating any
            number crunching. Simply enter a statement and have you
            answer shown to you real time as it is entered.
        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- Txtnote -->
        <h2>Txtnote</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.txtnoteFree" target ="_blank">
        <img src="images/txtnote.png" alt="txt Icon" class = "appIcon"><br>
        <img src="images/txtscreen.png"
        alt="txt Screenshot" class = "appScreen">
        </a>
        <p>
          Are you looking for a fast, minimal, smooth notepad app? Or is your current notes app slow or ugly?
          TxtNote was created with that in mind.
          TxtNote is a very fast and smooth note taking app that gets what you want done with a very simple and
          minimalistic design.
        </p>
    </li>

</ul>

<br>
<br>

</div>
