<!-- animation div -->
<div class="animated fadeIn">

<!-- Going to do a 2 coulmn layout -->
<h1>Android Development</h1>

<!--paragraph explaining my android development-->
<div class="Intro">
  <p>
    I developed these Android applications independently as personal projects,
    using the
    <a href = "https://developer.android.com/sdk/index.html" target ="_blank">Android Studio IDE.</a>
    All of these projects, can be found on my <a href="https://github.com/torch2424" target ="_blank">Github</a>,
    and
    <a href="https://play.google.com/store/apps/dev?id=7725420572806800529&hl=en" target ="_blank">My Developer Page</a>
    from the Google Play Store.
  </p>
</div>

<!-- Two Colmn div -->
<ul class="columns">

    <li class="app card-panel  z-depth-3">
        <!--feather, icon then screenshot -->
        <h2>Feather</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.featherads" target ="_blank">
        <img src="images/feather.png" alt="Feather Icon" class = "appIcon"><br>
        <img src="images/featherscreen.png" alt="Feather Screenshot" class = "appScreen">
        </a>
        <p>
          <a href="https://play.google.com/store/apps/details?id=com.torch2424.featherads" target ="_blank">Feather</a>
          is a lightweight and minimalistic music and video player for android.
          Feather allows user to explore the file structure to construct playlists of files.
          Feather was rated as
          "10 best Android video player apps"
          by
          <a href="http://www.androidauthority.com/best-android-video-player-apps-526116/" target ="_blank">Android Authority</a>,
          which stated,
          “...A bare bones player without the bells and whistles which may be what a lot of people are looking for”.

          <br>
          <br>
          <br>

          I independently developed Feather
          using multiple Android libraries, such as, Handlers for multi-threading,
          Media Player for managing and Android audio, and various Java
          File usage and tricks to browse user files, and allow extracting .zip fles.

        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- Stats-->
        <h2>Stats Monitor Widget</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.statsmonitorwidgetFree" target ="_blank">
        <img src="images/statsmonitor.png" alt="Stats Icon" class = "appIcon"><br>
        <img src="images/statsscreen.png" alt="Stats Screenshot" class = "appScreen">
        </a>
        <p>
          <a href="https://play.google.com/store/apps/details?id=com.torch2424.featherads" target ="_blank">Stats Monitor Widget</a>
          is a minimal, conky-like, system monitor that
          sits on an android device's home screen,
          and displays per-core CPU usage, memory
          usage, network information, and other
          statistics of the user’s device.

          <br>
          <br>
          <br>

          I independently developed Stats Monitor,
          which features various android libraries, such as,
          Broadcast Receviers for listening to system wide events,
          Shared Preferences for saving user configurations, and
          App Widget Providers which allows connecting Remote Views to
          the widget, and making it available to be created by an Android launcher.

        </p>
    </li>


    <li class="app card-panel  z-depth-3">
        <!-- Decisions -->
        <h2>Decicisons</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.decisions" target ="_blank">
        <img src="images/decisions.png" alt="Decisions Icon" class = "appIcon"><br>
        <img src="images/decisionsscreen.png" alt="Decisions Screenshot" class = "appScreen">
        </a>
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.torch2424.decisions" target ="_blank">Decisions</a>
            is an application that will allow you
            to build a question and fill it with available
            answers, and will then select a random answer for you.
            It also has quick settings such as "Yes or No", and
            "Coin Flip".

            <br>
            <br>
            <br>

            I independently developed Decisions
            and exercised the use of serializeable Java objects
            to save user questions and answers to be retrieved
            later on. This also implements Android In-App-Payments.
        </p>
    </li>

    <li class="app card-panel  z-depth-3">
        <!-- Txtnote -->
        <h2>Txtnote</h2>
        <a href="https://play.google.com/store/apps/details?id=com.torch2424.txtnoteFree" target ="_blank">
        <img src="images/txtnote.png" alt="txt Icon" class = "appIcon"><br>
        <img src="images/txtscreen.png"
        alt="txt Screenshot" class = "appScreen">
        </a>
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.torch2424.decisions" target ="_blank">TxtNote</a>
            is an application that will save
            notes as .txt files on the users device to
            be backed up, or stored for later use. This
            application is actually the first Android application
            I have developed, and still works great!

            <br>
            <br>
            <br>

            I independently developed TxtNote
            and implemented basic Android Activities, Intents,
            application file directories, and XML Layouts.
        </p>
    </li>

</ul>

<br>
<br>

</div>
