<!-- animation div -->
<div class="animated fadeIn">

  <h1>Contact</h1>
  <div class="card-panel z-depth-3">

    <!-- <br> tags here since we are using p element -->
    <p class="contact">
      Interested in hiring a developer for your next project? Want to request a resumé? Or maybe you just fancy a chat? Please contact me at <a href="mailto:aaron@aaronthedev.com">aaron@aaronthedev.com</a> for any work, comments, or questions you may
      have!
      <br>
      <br> You can see me code at the most random times of the day at my <a href="https://github.com/torch2424" target="_blank">Github</a>!
      <br>
      <br> I'm also on twitter as <a href="https://twitter.com/nosInfinite" target="_blank">@nosInfinite</a> where I post things about my life, music, development, and funny gifs that I find!
      <br>
      <br> Thank you!
    </p>
  </div>

  <div class="spaceDivider"></div>

</div>
