<!-- animation div -->
<div class="animated fadeIn">

<div class="home card-panel grey lighten-3 z-depth-3">
  <h1>Welcome!</h1>
  <img class="responsive-img pixelAaron" src="images/pixelaaron.png" alt="Nice to meet you!" height="300" width="300"><br>
  <p>
    I'm Aaron Turner!
    I'm a professional frontend app/web developer focusing on
    <a href = "https://developer.android.com/guide/index.html">Android</a>,
    <a href = "https://angularjs.org/">AngularJs</a>,
    and
    <a href = "http://ionicframework.com/">Ionic</a>.
    I am located in Long Beach, CA.
    <br>
    <br>
    I'm currently pursuing a
    Bachelors in Computer Science with a
    minor in Web Technologies at California State University,
    Long Beach.
  </p>
</div>

<br>
<br>
</div>
