<!-- animation div -->
<div class="animated fadeIn">

  <div class="home card-panel z-depth-3 animated bounceInDown">
    <h1>Welcome!</h1>
    <img class="responsive-img pixelAaron animated slideInUp" src="images/pixelaaron.png" alt="Nice to meet you!" height="300" width="300"><br>

    <p class="siteIntro">
      My name is Aaron Turner, I am a professional frontend web/app developer focusing on
      <a href="https://angularjs.org/" target="_blank">AngularJs</a>,
      <a href="http://ionicframework.com/" target="_blank">Ionic</a>, and
      <a href="http://electron.atom.io/">Electron</a>. Also, my free time is spent developing games in
      <a href="https://unity3d.com/" target="_blank">Unity</a>, updating my old <a href="https://developer.android.com/index.html" target="_blank">Android</a> applications, or coding cool things in <a href="https://golang.org/" target="_blank">Go</a>,
      for fun. I am located in Long Beach, CA, as I am currently pursuing a Bachelors in Computer Science with a minor in Web Technologies at California State University, Long Beach. This is my development portfolio to showcase some of my works, and other
      awesome things I do across the web. At this website, you can find my contact information, and some of my favorite projects that I have created, contributed to, or maintained. They can all be accessed from the navigation links above, and I hope you
      enjoy exploring my works. Thank you!
    </p>

  </div>

  <br>
  <br>
</div>
