<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">
    <img src="images/MainPic.jpg" alt="Nice to meet you!" height="40%" width="20%"><br>
    I'm Aaron Turner! I'm an app/web developer mainly focusing on frontend web development and Android development based in Long Beach, CA.
  </p>
</div>

<!-- Place dev stuff here -->
<div class="devLinks">

<!--Google Play Badge For Aaron Turner -->

<a href="https://play.google.com/store/search?q=pub:Aaron Turner">
<img alt="Get it on Google Play"
     src="http://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
</a>

  <!-- Available on chrome Stor Badge -->
  <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa">
<img alt="Get it on Chrome Web Store"
     src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_206x58.png" />
</a>

<!-- Github follow badge, that links to my page -->
<iframe src="https://ghbtns.com/github-btn.html?user=torch2424&type=follow&count=true&size=large"
frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
</div>
