<!-- animation div -->
<div class="animated fadeIn">
  <!-- Going to do a 1 coulmn layout -->
  <h1>Professional Work</h1>

  <!--paragraph explaining my web development-->
  <div class="Intro">
    <p>
      I have created/contributed to projects as either contracted work, or during my employment with a company. This does not represent all of my work however, some projects I am not able to publicly talk about, and other projects are less notable than the
      ones listed below.
    </p>
  </div>

  <ul class="columns">
    <!-- Include the projects -->
    <div ng-include="'views/templates/projects/ccraBook.html'"></div>
  </ul>

</div>
