<!-- animation div -->
<div class="animated fadeIn">
  <!-- Going to do a 1 coulmn layout -->
  <h1>Professional Work</h1>

  <!--paragraph explaining my web development-->
  <div class="Intro">
    <p>
      I have created/contributed to projects as either contracted work, or during my employment with a company. This does not represent all of my work however, some projects I am not able to publicly talk about, and other projects are less notable than the
      ones listed below.
    </p>
  </div>

  <ul class="columns">
    <li class="web card-panel  z-depth-3">
      <h2>CCRA E-Compendium</h2>
      <img class="webScreen" src="images/ccraScreen.png" alt="CCRA Screenshot">
      <p>
        The CCRA E-Compendium is an interactive online e-book reader for the California Court Reporters Association. The application implements requests for various search functions, subscription based debit card charges, and user validation. It was developed
        as a contract job by
        <a href="https://www.kondeo.com/#/">Kondeo</a>. However, the app is in its final stages of deployment, and will be released for web, Android, and iOS. A similar application created by Kondeo (that I contributed to!) can be found
        <a href="https://play.google.com/store/apps/details?id=com.Kondeo.Wordpairs&hl=en">here</a>

        <br>
        <br>
        <br> As a team-member of Kondeo, I created the user interface and controller logic to implement the mentioned features above. These features include, sending requests to search for words, validate users of three different types, send requests
        to receive and edit pages of the compendium, and inform users of the subscription depending on the current date. I also did all of the design and styling of the application.

        <br>
        <br>
        <br> CCRA E-Compendium was built using
        <a href="http://ionicframework.com/">Ionic</a>,
        <a href="https://angularjs.org/" target="_blank">AngularJS</a>, and
        <a href="http://sass-lang.com/" target="_blank">Sass</a>. As well as several third-party libraries, such as
        <a href="https://stripe.com/">Stripe</a>,
        <a href="https://daneden.github.io/animate.css/">Animate.css</a>, and
        <a href="http://momentjs.com/">Moment.JS</a>.

      </p>
    </li>
  </ul>

</div>
