<!-- animation div -->
<div class="animated fadeIn">

<!-- Going to do a 1 coulmn layout -->
<h1>Web Development</h1>

<!--paragraph explaining my web development-->
<div class="Intro">
  <p>
    I have created/contributed to these websites and web apps as personal projects, or contracted work.
    I primarily use
    <a href = "https://angularjs.org/" target ="_blank">AngularJS</a>
    and
    <a href="http://sass-lang.com/" target ="_blank">Sass</a>
    for my frontend web development.

    I also develop using
    <a href="http://ionicframework.com/">Ionic</a>,
    and
    <a href="http://electron.atom.io/">Electron</a>
    to create multiplatform mobile applications.

    The projects I can share publicly, can be found on my <a href="https://github.com/torch2424" target ="_blank">Github</a>.
  </p>
</div>

<br>
<br>

<ul class="columns">

    <li class="web card-panel  z-depth-3">
      <h2>linkDrops<h2>
        <a href = "http://linkdrops.com/#/" target ="_blank">
            <img class = "webScreen" src="images/linkdropsscreen.png" alt="Website Screenshot">
        </a>
        <p>
            <a href = "http://linkdrops.com/#/" target ="_blank">linkDrops</a> is a website that will store all of
            those links you wanted to go back to, but never could,
            in an easy to use interface. linkDrops is perfect for
            things like youtube videos, articles, and repos!
            <br>
            <br>
            <br>

            In linkDrops, I formulated the original app idea. I also developed the UI and UX of the application.
            I mostly developed the frontend using Javascript and CSS, and handled things such as keeping the link
            grid in order, sending requests to the backend to create accounts, save and manage user's links, and
            send requests to APIs provided by
            <a href = "https://noembed.com/" target ="_blank">Noembed</a>,
            <a href = "https://developers.soundcloud.com/" target ="_blank">Soundcloud</a>,
            <a href = "https://developer.spotify.com/" target ="_blank">Spotify</a>,

            and various other services to create iframes, and embeds of a user's link once they hover over the link.
            I had a bit of help from
            <a href = "https://github.com/julianpoy" target ="_blank">Julian Poyourow</a>,
            as he mostly developed the backend, but we help one another in both the front and back end.

            <br>
            <br>
            <br>

          linkDrops was built in the "MEAN" stack.
          Meaning it was built using powerful, modern day
          web development which includes:
          <a href = "https://www.mongodb.org/" target ="_blank">MongoDB</a>,
          <a href = "http://expressjs.com/" target ="_blank">Express</a>,
          <a href = "https://angularjs.org/" target ="_blank">AngularJS</a>,
          and <a href = "https://nodejs.org/en/" target ="_blank">NodeJS</a>.


          It was styled using
          <a href="http://sass-lang.com/" target ="_blank">Sass</a>, a powerful css framework. Also, some other css libraries such as
          <a href="https://daneden.github.io/animate.css/" target ="_blank">Animate.css</a> and
          <a href="https://material.angularjs.org/latest/" target ="_blank">Angular Material</a>.

          linkDrops also implements some third-party libraries such as
          <a href="https://github.com/hongkhanh/gridify" target ="_blank">Gridify</a>, and
          <a href="https://github.com/thenikso/angular-inview" target ="_blank">Angular-inview</a>.

        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>CCRA E-Compendium<h2>
            <img class = "webScreen" src="images/ccraScreen.png" alt="CCRA Screenshot">
        <p>
          The CCRA E-Compendium
          is an interactive online e-book reader
          for the California Court Reporters Association.
          The application implements requests for various
          search functions, subscription based debit card
          charges, and user validation. It was developed as
          a contract job by
          <a href="https://www.kondeo.com/#/">Kondeo</a>. However,
          the app is in its final stages of deployment, and will be released
          for web, Android, and iOS. A similar application created by
          Kondeo (that I contributed to!) can be found
          <a href="https://play.google.com/store/apps/details?id=com.Kondeo.Wordpairs&hl=en">here</a>

          <br>
          <br>
          <br>

          As a team-member of Kondeo,
          I created the user interface and controller logic to implement
          the mentioned features above. These features include, sending
          requests to search for words, validate users of three different types,
          send requests to receive and edit pages of the compendium, and
          inform users of the subscription depending on the current date.
          I also did all of the design and styling
          of the application.

          <br>
          <br>
          <br>

          CCRA E-Compendium was built using
          <a href="http://ionicframework.com/">Ionic</a>,
          <a href = "https://angularjs.org/" target ="_blank">AngularJS</a>,
          and
          <a href="http://sass-lang.com/" target ="_blank">Sass</a>.
          As well as several third-party libraries, such as
          <a href="https://stripe.com/">Stripe</a>,
          <a href="https://daneden.github.io/animate.css/">Animate.css</a>,
          and
          <a href="http://momentjs.com/">Moment.JS</a>.

        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>Flyxer<h2>
          <a href = "https://github.com/julianpoy/Flyxer" target ="_blank">
              <img class = "webScreen" src="images/flyxerScreen.png" alt="Flyxer Screenshot">
          </a>
        <p>
          <a href = "https://github.com/julianpoy/Flyxer" target ="_blank">Flyxer</a>
          is a live performance music software that allows
          for loop switching "on the fly" with an easy to use
          interface. Along with a large collection of effects to
          edit your sound as it is playing.

          <br>
          <br>
          <br>

          Flyxer was developed at
          <a href = "http://devpost.com/software/hacktech2016" target ="_blank">Hacktech 2016</a>
          in 36 hours, and won the award, "Coolest Developer Tool".
          In my team of three,
          <a href = "https://github.com/julianpoy" target ="_blank">Julian Poyourow</a>,
          Alexis Luter,
          and myself,
          I created the user interface,
          and user experience of the application,
          as well as handled the effects being
          applied to the Javascript audio objects.

          <br>
          <br>
          <br>

          Flyxer was built using
          <a href="http://electron.atom.io/">Electron</a>,
          <a href="https://nodejs.org/en/">NodeJS</a>,
          and
          <a href = "https://angularjs.org/" target ="_blank">AngularJS</a>.
          As well as the third-party Javascript libraries,
          <a href="https://github.com/rserota/wad">WAD</a> (Which I have contributed to!),
          and
          <a href="https://github.com/Theodeus/tuna">Tuna</a>.

        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>This Website!<h2>
        <img class = "webScreen" src="images/personal.png" alt="Website Screenshot">
        <p>
          This website was built entirely in <a href="https://angularjs.org/" target ="_blank">AngularJS</a>. Which allows for amazing load times
          efficient development, and powerful javascript implementation! And it was styled using
          <a href="http://sass-lang.com/" target ="_blank">Sass</a>, a robust css framework. Also, some other css libraries such as
          <a href="https://daneden.github.io/animate.css/" target ="_blank">Animate.css</a> and
          <a href="http://materializecss.com/" target ="_blank">Materialize.css</a>

          <br>
          <br>
          <br>

          I developed my entire personal website myself (no spooky ghost coders around here!),
          which includes deployment onto my own
          <a href="https://www.digitalocean.com/" target ="_blank">Digital Ocean</a>,
          droplet running
          <a href="http://www.apache.org/" target ="_blank">Apache</a>,
          to host this website. Also, I maintain the controller logic
          for things like the navigation bar of the website,
          and style and design the user interface.
        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>Nudge<h2>
        <a href = "http://kondeo.com/projects/nudge/#/welcome" target ="_blank">
            <img class = "webScreen" src="images/nudgescreen.png" alt="Website Screenshot"></a>
        <p>
            <a href = "http://kondeo.com/projects/nudge/#/welcome" target ="_blank">Nudge</a>
            is a social network that revolves around
            your own events, gatherings and parties. And those
            that are happening around you!
            Made with
            <a href = "http://kondeo.com/#/" target ="_blank">Kondeo Development</a>
            (Still in pre-alpha phases)
            <br>
            <br>
            <br>

            Nude was conceptualized by
            <a href = "https://github.com/julianpoy" target ="_blank">Julian Poyourow</a>,
            and he built out most of both the front and back end of the application. I
            contributed to the project by doing front end controller logic, styling of the application,
            and created an events route to display individual event details.
            As well as solved some navigation bugs where the incorrect
            text would display after a user logged in. Nudge was actually one of the first
            <a href = "https://angularjs.org/" target ="_blank">AngularJS</a>
            projects I contributed to, and helped me fall in love with the framework.

            <br>
            <br>
            <br>
          Nudge
          was built with
          <a href = "https://angularjs.org/" target ="_blank">AngularJS</a>
          and PHP giving a very fast and clean
          user experience on the frontend,
          with a powerful and reliable backend.


        Nudge was styled using
          <a href="http://sass-lang.com/" target ="_blank">Sass</a>,
          a solid css framework.
        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>Crunchkey<h2>
        <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa?hl=en" target ="_blank">
        <img class = "webScreen" src="images/crunchkeyweb.png" alt="Website Screenshot">
      </a>
        <p>
          <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa?hl=en" target ="_blank">CrunchKey</a>
          is a simple text calculator that works with a press of a key,
          and gives your answer INSTANTLY. Built with both developers and users in mind,
          It strives to be a calculator that will save time editing, solving, and calculating any number crunching.
          Simply enter a statement and have you answer shown to you real time as it is entered.
          <br>
          <br>
          <br>


          Crunchkey was the first web development project I created, and was actually one of the most useful.
          I used this application to learn basic web development, and developed it entirely myself. I created the
          calculation logic (by parsing the input expression into a stack) and design of the app.

          <br>
          <br>
          <br>
          Crunchkey was developed using Html, Javascript, and
          <a href="https://babeljs.io/" target ="_blank">Babel</a>
        </p>
    </li>

</ul>

<br>
<br>
</div>
