<!-- animation div -->
<div class="animated fadeIn">

<!-- Going to do a 1 coulmn layout -->
<h1>Web Development</h1>

<!--paragraph explaining my web development-->
<div class="Intro">
  <p>
    I have created multiple websites, web apps, and scripts for contracted work, and for fun in my free time.
    Where the ones I can share publicly, could be found on my <a href="https://github.com/torch2424">Github</a>.
  </p>
</div>

<br>
<br>

<ul class="columns">

    <li class="web card-panel  z-depth-3">
      <h2>linkDrops.<h2>
        <a href = "http://linkdrops.com/#/">
            <img class = "webScreen" src="images/linkdropsscreen.png" alt="Website Screenshot"></a>
        <p>
            <a href = "http://linkdrops.com/#/">"linkDrops."</a> is a website that will store all of
            those links you wanted to go back to, but never could,
            in an easy to use interface. "linkDrops." is perfect for
            things like youtube videos, articles, and repos!
            <br>
            <br>

          "linkDrops." was built in the "MEAN" stack.
          Meaning is was built using powerful, modern day
          web development which includes:
          <a href = "https://www.mongodb.org/">MongoDB</a>,
          <a href = "http://expressjs.com/">Express</a>,
          <a href = "https://angularjs.org/">AngularJS</a>,
          and <a href = "https://nodejs.org/en/">NodeJS</a>.


          And it was styled using
          <a href="http://sass-lang.com/">Sass</a>, a powerful css framework. Also, some other css libraries such as
          <a href="https://daneden.github.io/animate.css/">Animate.css</a> and
          <a href="http://materializecss.com/">Materialize.css</a>
        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>Nudge<h2>
        <a href = "http://kondeo.com/projects/nudge/#/welcome">
            <img class = "webScreen" src="images/nudgescreen.png" alt="Website Screenshot"></a>
        <p>
            <a href = "http://kondeo.com/projects/nudge/#/welcome">"Nudge"</a>
            is a social network that revolves around
            your own events, gatherings and parties. And those
            that are happening around you!
            Made with
            <a href = "http://kondeo.com/#/">Kondeo Development</a>
            (Still in pre-alpha phases)
            <br>
            <br>

          "Nudge"
          was built with
          <a href = "https://angularjs.org/">AngularJS</a>,
          and PHP. Which gives a very fast and clean user experience,
          with a powerful and reliable backend.


          And it was styled using
          <a href="http://sass-lang.com/">Sass</a>,
          a solid css framework.
        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>Team No Comply Games Development Blog<h2>
        <a href = "http://www.nocomplygames.com/">
            <img class = "webScreen" src="images/nocomplyscreen.png" alt="Website Screenshot"></a>
        <p>
            <a href = "http://www.nocomplygames.com/">"Team No Comply Games"</a>
            is a small game development company (That I happen to be the lead programmer for)
            that is currently working on a game called
            <a href = "https://github.com/torch2424/Punch-Legacy">Super Punch Legacy</a>
            in
            <a href = "https://unity3d.com/">Unity</a>. This web page was
            built to host their development blogs, so fans and
            the media could follow the game as it is developed!

            <br>
            <br>

          "Team No Comply Games" development blog
          was built with
          <a href = "https://wordpress.com/">WordPress</a>,
          a powerful, and easy to use blogging platform, that allows for blogging,
          e-commerce, and various web site functionality thanks to its robust
          plugin system.
        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>This Website!<h2>
        <img class = "webScreen" src="images/personal.png" alt="Website Screenshot">
        <p>
          This website was built entirely in <a href="https://angularjs.org/">AngularJS</a>. Which allows for amazing load times
          efficient development, and powerful javascript implementation! And it was styled using
          <a href="http://sass-lang.com/">Sass</a>, a robust css framework. Also, some other css libraries such as
          <a href="https://daneden.github.io/animate.css/">Animate.css</a> and
          <a href="http://materializecss.com/">Materialize.css</a>
        </p>
    </li>

    <li class="web card-panel  z-depth-3">
      <h2>Crunchkey<h2>
        <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa?hl=en">
        <img class = "webScreen" src="images/crunchkeyweb.png" alt="Website Screenshot">
      </a>
        <p>
          <a href="https://chrome.google.com/webstore/detail/crunchkey/dcdjcligfkkgogbgafjeicfmpjgcinfa?hl=en">CrunchKey</a>
          is a simple text calculator that works with a press of a key,
          and gives your answer INSTANTLY. Built with both developers and users in mind,
          It strives to be a calculator that will save time editing, solving, and calculating any number crunching.
          Simply enter a statement and have you answer shown to you real time as it is entered.
          <br>
          <br>
          It was developed using Html, Javascript, J Query, and
          <a href="http://extensionizr.com/">Extensionizer</a>
        </p>
    </li>

</ul>

<br>
<br>
</div>
